<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="iExam">

	<listeners>
		<listener class-name="com.utilities.Reporting" />

	</listeners>


	<test name="Demo Test">
		<parameter name="browser" value="chrome" />
<!-- 		  	<parameter name="url"  value="www.google.com"/>  -->
		<classes>

<!--				    <class name="com.testCases.absoluteSearchHotelFlow"/>   
			            <class name="com.testCases.addRoomFunctionality"/>  
					    <class name="com.testCases.calendarHandler"/>  
					    <class name="com.testCases.calenderHandlerDataDriven"/>    
				        <class name="com.testCases.createUser"/>  
			  		    <class name="com.testCases.datePickerWithAssertion" />  
			      	    <class name="com.testCases.enterDestination" />  
			            <class name= "com.testCases.invalidDestination" /> 
	                    <class name = "com.testCases.restPassword" />  
	                	<class name = "com.testCases.searchHotelCompleteFlow" />  
						<class name = "com.testCases.traveller_fromlist" />  
						<class name = "com.testCases.travellers" />
						<class name= "com.testCases.uiAssertionHotelSearchPage" />    
					<class name = "com.testCases.hotelClassFilter" />  
						<class name = "com.testCases.barFilter" />  
						<class name = "com.testCases.turyaChennaiHotelTest" />  
						<class name = "com.testCases.addroomResultSearchPageTest" />   
							<class name = "com.testCases.paymentMethodUPITest" />  
							<class name = "com.testCases.electricityBillTest" /> 
							<class name = "com.testCases.addMoneyTest" />
						   <class name = "com.testCases.loginAirtelTest" />		
						   <class name= "com.testCases.fasTagAirtelTest" />  
						   <class name = "com.testCases.failedAirtelLoginTest" /> 
						   <class name = "com.testCases.AddImageExample" />-->
						   <class name = "com.testCases.failedAirtelLoginTest" />

		</classes>

	</test>

</suite>